<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.figurine.dao.UserDao">


  <select id="selectUserByUserName" resultType="com.figurine.entity.User">
    select * from user where username = #{username}
  </select>

  <insert id="insertUser" parameterType="com.figurine.entity.User">
    insert into user (username, password) values (#{username} , #{password})
  </insert>

  <update id="updateUser" parameterType="com.figurine.entity.request.InfoSubmitRequestModel" >
    update user set  password = #{password} ,
    password = #{password}, phone = #{phone} ,sign = #{sign} ,image = #{image} , gender = #{gender} ,balance = #{balance} ,address = #{address}where id = #{id}
  </update>

</mapper>